{% extends "commandhelp.jinja2" %}
{% block usage %}
/activechar Alice
/activechar Legolas

Use to change your {{ emoji.chess }} active character.

{{ emoji.paperclip }} Note that only one character can be active. You may get access only to his/her throws and attributes/modifiers.

{% endblock %}