{% extends "commandhelp.jinja2" %}
{% block usage %}
    /deletethrow MyThrowName

    Use to delete custom {{ emoji.dice }}Throw. Name of your Throw is case-sensitive. Also note that you can delete only throws for your {{ emoji.chess }} active character.

{% endblock %}