{% extends "commandhelp.jinja2" %}
{% block usage %}
/deletechar Zubuntog

Use to delete your {{ emoji.elf }} character.

{{ emoji.paperclip }}If you've got other chars, one of them would become active at random. You may change active char with /activechar.

{% endblock %}