{% extends "commandhelp.jinja2" %}
{% block usage %}
/deletemod Dexterity

Use to delete your custom character's attributes. Check the list of your char's attributes with /chars command. Also note that you can delete only your {{ emoji.chess }} active char's attributes.
{% endblock %}