<b>Tabletop RPG helper - Dice Roller</b>

{{ emoji.gear }} Version: <i>2.0-beta</i>

{{ emoji.pencil }} For queries: <a href="tg://user?id=138946204">please write me here</a>

Bot helps rolling dices for classical RPG games. Could be added into a group.

{{ emoji.dice }} <b>Roll commands:</b>
/start, /help --> <i>show this message</i>
/roll d20 --> <i>roll one dice</i>
/roll 2d6 + 2 --> <i>roll two d6 dices + modifier</i>
/roll 8d100 - 16 --> <i>roll eight d100 dices - modifier</i>
/roll d20 3d4 d8 - 2 Description --> <i>roll d20 + three d4 dices + one d8 dice - modifier + Description</i>

<i>Shortcuts for single dices:</i>
/roll20, /roll12, /roll10, /roll8, /roll6, /roll4

{{ emoji.elf }} <b>Chars commands:</b>
/chars --> <i>show the list of user's characters, saved throws and characteristics</i>

{{ emoji.clamp }} <b>Constraints:</b>
- on dices: from d1 to d999
- on the number of rolls: from 1d(x) to 99d(x)