{{ emoji.pensil }} <b>Info page</b>

Dear friends,

this is the new version of Tabletop DiceBot - free opensource project for RPG and other boardgame fans. It has started a couple years ago as a simple side-project, but surprisingly quite a lot of people found it useful. So I decided to make it cooler and smarter.

You still can use all the staff: roll multiple dices, add modifiers and roll descriptions. But now you also can add custom {{ emoji.dice }} dice rolls and use your own {{ emoji.elf }} character modifiers in them. Please refer to /help page for information about char creation. Please be informed that <i>no personal information</i> would be stored in bot database except your Telegram ID and your char info: char names, their modifiers and your custom throws.

I am very pleased this project has grown bigger. But I should warn this new version is a <i>beta-version</i>. So please report any bugs to me: @dexpiper (or open an issue on github: https://github.com/dexpiper/tabletopdicebot). I would be greatful for any suggestions, commentaries and feedback - please feel free to write me in Telegram or to dexpiper@yandex.com. And of course contributors are welcome!

Also it would be great if we can chat together, share our game experience and other useful staff in a group: https://t.me/dicebot_community. There I will post announcements, maintenance info and other staff related to the project. Stay tuned!

Yours,
<i>Alex</i>.