{{ emoji.gear }} <b>Statistics:</b>

{{ emoji.elf }} <i>Users and Chars:</i>
<b>Total users registered:</b> {{stats.users_total}}
<b>New users for the last week:</b> {{stats.new_users_week}}
<b>Total chars registered:</b> {{stats.chars_total}}
<b>New chars for the last week:</b> {{stats.new_chars_week}}

<b>Users created custom throws:</b> {{stats.throws_total}}
<b>Users created chars attributes:</b> {{stats.attributes_total}}

{{ emoji.dice }} <i>Rolls:</i>
<b>Total rolls:</b> {{stats.rolls_total}}
<b>Rolls for the last month:</b> {{stats.rolls_month}}
<b>Rolls for the last week:</b> {{stats.rolls_week}}
<b>Rolls today:</b> {{stats.rolls_today}}
